*.iml
/.gradle
/build
/app/build

*.apk
*.aab

*.so
/obj

*.log
*.tmp

/.idea/caches
/.idea/libraries
/.idea/dictionaries
/.idea/shelf
/.idea/tasks.xml
/.idea/gradle.xml
/.idea/AndroidProjectSystem.xml
/.idea/copilot.data.migration.agent.xml
/.idea/copilot.data.migration.ask.xml
/.idea/copilot.data.migration.ask2agent.xml
/.idea/copilot.data.migration.edit.xml
/.idea/deploymentTargetSelector.xml
/.idea/migrations.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

.DS_Store
/captures
.externalNativeBuild
.cxx

local.properties
